.sendMail{
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);

}

.sendMail__header {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    border-bottom: 1px solid whitesmoke;
    color: grey;
    align-items: center;
}

.sendMail__header > h3 {
   color: whitesmoke;
   font-size: 13px ;
}

.sendMail__button{
    background-color: #3079ed !important;
    margin: 15px !important;
    text-transform: capitalize !important;
}

.sendMail__close{
    cursor: pointer;
}

.sendMail > form {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.sendMail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendMail__message {
    flex: 1;
    
}
