.emailList {
  position: relative;
  flex: 1;
  overflow-y: scroll;
  padding: 20px;

}

.emailList__settings {
    position: sticky;
    top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  z-index: 999;
  padding-right: 10px;
}

.emailList__sections {
display: flex;

}